{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["plugin:vue/vue3-recommended", "eslint:recommended", "@vue/prettier"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2021
  },
  "rules": {
    "no-unused-vars": "off",
    "vue/no-v-html": "off",
    "arrow-parens": ["error", "always"],
    "padded-blocks": ["error", "never"],
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-var-requires": "off",
    "vue/component-definition-name-casing": [1, "kebab-case"]
  }
}
