:root {
  --color-text: #121c42;
  --color-background: #f5f8fa;
  --color-background-lighter: #ffffff;
  --color-border: #d5e3ec;

  --color-orange-100: #fef6e6;
  --color-orange-200: #fde3b5;
  --color-orange-300: #fbd083;
  --color-orange-400: #fabd52;
  --color-orange-500: #f8ab20;
  --color-orange-600: #df9107;
  --color-orange-700: #ad7105;
  --color-orange-800: #7c5104;
  --color-orange-900: #4a3002;

  --shadow: #d8e1e8;
}

*,
*:focus,
*:active,
*:hover {
  outline: none;
}

body {
  font-family: 'Rubik', sans-serif !important;
  font-size: 16px !important;
  line-height: 1.3 !important;
  font-weight: 400 !important;
  scroll-margin: 100px 0 0 0 !important;
  color: var(--color-text) !important;
  background-color: var(--color-background) !important;
  word-break: break-word !important;
}
